.ct-alert-container {
    position: fixed;
    top: 40px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
    max-height: 90vh;
    overflow-y: auto;
}

.ct-alert {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 300px;
}

.ct-alert img {
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.ct-alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.ct-alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.ct-alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.close-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.ct-alert-container::-webkit-scrollbar {
    width: 8px; 
}

.ct-alert-container::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0); 
}

.ct-alert-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
}

.ct-alert-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

@media (max-width: 767px) {
    .ct-alert {
        width: 220px;
    }
}